
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family:'Caveat', cursive; ;
    margin-bottom: 3em;
}

/* adjustments when on smaller screen */
#main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  padding: 0 20px;
  position: relative;
}


/* background */
 #starbackground{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top:10px; 
} 

/* jar image */
#starjar{
  position:absolute;
  top: 15em;
  left: 51.5em;

}
/* right stars */
#star{
  position:absolute;
  top: 50em;
  left: 5em;
}
#starr{
  position:absolute;
  top: 60em;
  left: 18em;
}
/* left  */
#starrr{
  position:absolute;
  top: 50em;
  right: 5em;

}
#starrrr{
  position:absolute;
  top: 60em;
  right: 18em;

}

/* gloss class, to make welcome letters glow  */
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;}

@-webkit-keyframes glow {
   from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ddb663,
      0 0 40px #ddb663, 0 0 50px #e0a423, 0 0 60px #b6751b, 0 0 70px #b6751b;
  }
  to {
     text-shadow: 0 0 20px #fff, 0 0 30px #693657, 0 0 40px #693657,
     0 0 50px #3a2b5c, 0 0 60px #3a2b5c, 0 0 70px #302b5c, 0 0 80px #302b5c;
  }
  }

/* welcome letters */
h2 {
  text-transform: uppercase;
  background: none;
  font-style: italic;
  top: 0;
  z-index: 1;
  padding: 0px;
}

#intro-one{
  font-size: 70px;
  color: rgb(250, 245, 183); 
 position: absolute;
 top: 1em;
 left: .5em;

}

#intro-two{
  float: left;
  font-size: 70px;
  color: rgb(250, 245, 183);
  position: absolute;
  top: 2.3em;
  left: 3em;

}

#intro-three{
  font-size: 70px;
  color: rgb(250, 245, 183);
  position: absolute;
  top: 3.5em;
  left: 3.5em;
} 

/* About  */

#abone{
  font-size: 25px;
  color: rgb(250, 245, 183);
  position: absolute;
  bottom: 19em;
  right: 11em;
  z-index: 1;

}

#abtwo{
  font-size: 25px;
  color: rgb(250, 245, 183);
  position: absolute;
  bottom: 18em;
  right: 9.5em;
  z-index: 1;
}

#abthree{
  font-size: 25px;
  color: rgb(250, 245, 183);
  position: absolute;
  bottom: 17em;
  right: 10em;
  z-index: 1;

}

/* Aligning 3h1s and back ground video  */
#main{
  height: 100vh;
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: center;
}

#content{
  z-index: 1;
  color: #fbe98e;
  text-align: center;
}

/* Style  the navigation bar */
#navbarS a {
  color: hsl(0, 0%, 95%);
  padding: 18px 24px;
  text-decoration: none;
}
/* nav bar color*/
#navbarS {
  background-color: rgb(54, 39, 52);
  overflow: hidden; 
  padding: 14px 10px ;

}
/* Change the color of links on hover */
#navbarS  a:hover {
  background-color: rgb(132, 103, 128);
  color: black;
  
}
/* Add a color to the active/current link */
#navbarS .active {
  background-color: #fbe98e;
  color: rgb(255, 255, 255)
}

/* About/bottom text */
#about {
  padding: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 2.5em;
}

#about p {
  font-size: 20px;
  max-width: 500px;
  margin: auto;
  color: rgb(255, 255, 255);

}

#about h2 {
  margin: 40px;
  color: #ffffff;
  font-size: 1em;
}

#about i {
  font-size: 48px;
  margin: 0 5px;
  color: white;
}
#about a {
  color: black
}